body {
	/*    color: #1d8591;*/
	color: aqua;
	font-size: 24px;
	font-weight: bold;
	font-family: 'Permanent Marker', cursive;
	/*    text-shadow: 1px 1px 0px #FF0000;*/
}

p {
	text-align: center;
}

a {
	text-align: center;
}

.container {
	margin-top: 24px;
	margin-bottom: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: rgba(0, 0, 0, .8);
}

#bgvideo {
	position: fixed;
	top: 50%;
	left: 50%;
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

video, iframe {
	margin: 20px;
	align-content: center;
	justify-content: center;
	max-width: 90%;
}

.list {
	align-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.child {
	/*    background-color: rgba(0, 0, 0, .8);*/
	margin-left: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 45%;
	text-align: center;
	justify-content: center;
	align-content: center;
}

.footer {
	text-align: center;
	align-content: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, .8);
	max-width: 100%;
}

.footer ul {
	list-style-type: none;
}

.footer ul li a {
	text-decoration: none;
}

a:link {
	color: aqua;
}

a:visited {
	color: springgreen;
}

a:hover {
	color: #00f908;
}

/*
#pausebutton {
    opacity: .75;
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    cursor: pointer;
}

#pausebutton:hover {
    background-color: rgba(20, 20, 20, .25);
    color: white;
}*/